<div class="contact-init-step-container animate-fade-in flex flex-col sm:gap-0 gap:7 pt-15 sm:pt-0">
  <div class="w-full flex text-center py-7">
    <p class="pt-3 max-w-md mx-auto">
      Your request is almost ready. Feel free to express yourself.
    </p>
  </div>

  <div class="w-full">
    <app-input>
      <textarea
        (keydown.enter)="onNext()"
        [field]="contactForm.message"
        placeholder="Type your message here..."
        rows="7"
      ></textarea>
    </app-input>
  </div>

  <div class="justify-self-end w-full sm:py-7 py-12 mt-auto flex flex-col items-center">
    <app-button
      class="w-full max-w-lg"
      [primary]="true"
      text="Send Your Request"
      icon="send"
      (clicked)="onNext()"
    ></app-button>
  </div>
</div>
