<div class="chatbot-page-container chatbot-page-content flex flex-col">
  <div class="chatbot-page-header-footer px-4 py-4 shrink-0 z-50">
    <app-chatbot-header
      [maxMessages]="maxAllowedMessages()"
      [usedMessages]="store.usedMessages()"
    ></app-chatbot-header>
  </div>

  <div class="flex-1 overflow-y-auto flex flex-col-reverse px-4 py-6 no-scrollbar">
    <div class="max-w-xl mx-auto w-full space-y-8">
      @for (msg of store.messages(); track msg.id) {
      <app-chatbot-message [message]="msg"></app-chatbot-message>
      } @if(isSending()){
      <app-loader class="flex justify-start"></app-loader>
      }
    </div>
  </div>

  <div class="chatbot-page-header-footer px-4 py-4 shrink-0 z-50">
    <app-chatbot-input
      [disabled]="!isAuthorized()"
      (sendMessage)="onSendMessage($event)"
    ></app-chatbot-input>
  </div>
</div>
